#bing{

background-image: url("b.jpg");
height:73%;
background-color:red;


}
#tophome{

margin-top:8px;
padding:5px;
}
#food{

height:550px;

float:right;
}
#breakfas{
float:left;
height:550px;
width:48%;


}

#breakfa{
float:right;
height:550px;
width:48%;
background-image: url(".jpg");
}
#a{
height:250px;
width:100%;
background-color:green;
float:left;

}
#b{
height:98%;
width:33%;
background-color:;
float:left;
margin-top:10px;

}
#c{
height:98%;
width:33%;
background-color:;
float:center;
margin-top:10px;

}
#gap{
height:50px;
width:100%;
float:right;
}
#d{
height:98%;
width:33%;
background-color:;
float:right;
margin-top:10px;
}
#bot{
height:300px;
width:100%;
background-color:orange;
float:right;
text-align:center;
}
#social{
height:100px;
width:99%;
background-color:orange;
float:right;
}
#sociala{
height:98%;
width:20%;
float:left;
background-color:pink;
}
#socialb{
height:98%;
width:60%;
float:center;
background-color:orange;
}
#socialc{
height:98%;
width:20%;
mardgin-right:2px;
float:right;
background-color:pink;
}